/* Import the base/config css entry point of your project */
@import "./config.css";
@import "./utils.css";

/* Main components and related utilities. */

@layer components {
  .navlinks {
    @apply w-full absolute top-full left-0 opacity-0 h-0 pointer-events-none font-bold flex flex-col text-sm
    bg-slate-50 dark:bg-primary-dark app-shadow gap-14 py-12 pt-10;

    &.show {
      @apply pointer-events-auto h-auto opacity-100;
    }

    @variant lg {
      @apply opacity-100 static w-auto p-0 bg-transparent pointer-events-auto shadow-none gap-24
      transition-none flex-row items-center h-auto;
    }
  }

  .navlink {
    @apply hover:bg-slate-200 hover:scale-95 hover:app-shadow hover:shadow-sm 
    dark:hover:shadow-md p-1.5 px-3.5 max-w-fit mx-auto rounded-md dark:hover:bg-primary-light 
    focus:ring-1 focus:ring-slate-300 focus:bg-slate-200 dark:focus:ring-primary-light 
    dark:focus:bg-primary focus:scale-95;

    &.active {
      @apply shadow-ix bg-slate-200/50 dark:bg-primary shadow-inner ring-2 
      ring-slate-200 dark:ring-primary-light scale-95 font-extrabold;
    }
  }

  .habit {
    @apply rounded-sm ring-1 ring-slate-300 dark:ring-primary-light  
      pointer hover:bg-slate-100 dark:hover:bg-primary-light
      shadow-md shadow-black/5 dark:shadow-black transition-colors flex flex-col p-3 gap-4;
  }

  .form-link {
    @apply text-xs tracking-wider o-none font-medium bg-zinc-700 text-white
    p-2 px-3 rounded-lg hover:ring-[1px] hover:ring-zinc-700 transition-colors duration-200 flex justify-center 
    mt-5 max-w-fit shadow-lg;
  }

  .profile-features {
    @apply flex flex-col items-center gap-4;
  }

  .profile-feature {
    @apply flex items-center p-2;
  }
}
