[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dotenv = "*"
firebase-admin = "*"
langchain = {extras = ["groq"], version = "*"}
pyjwt = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.13"
