[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
attr = "==0.3.2"
brotli = "==1.1.0"
brotlicffi = "==1.1.0.0"
chardet = "==5.2.0"
colorama = "==0.4.6"
configparser = "==7.2.0"
cryptography = "==44.0.2"
docutils = "==0.21.2"
fastapi = "==0.115.12"
h2 = "==4.2.0"
htmlparser = "==0.0.2"
ipython = "==8.32.0"
ipywidgets = "==8.1.5"
jnius = "==1.1.0"
js = "==1.0"
keyring = "==25.6.0"
passlib = "==1.7.4"
pillow = "==11.2.1"
protobuf = "==6.30.2"
pydantic = "==2.11.3"
pyjwt = "==2.10.1"
pyodide = "==0.0.2"
pyopenssl = "==25.0.0"
python-dotenv = "==1.1.0"
redis = "==5.2.1"
simplejson = "==3.20.1"
sphinx = "==8.2.3"
thread = "==2.0.5"
urllib3-secure-extra = "==0.1.0"
xmlrpclib = "==1.0.1"
zstandard = "==0.23.0"

[dev-packages]

[requires]
python_version = "3.13"
