@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav__bar {
    @apply shadow-md fixed w-full flex justify-between items-center px-12 py-4 flex-wrap bg-white
    dark:shadow-black border-b-[1px] border-slate-100 dark:border-zinc-700 dark:bg-primary z-20;
  }

  .profile__features {
    @apply absolute top-10 -right-8 bg-white shadow-lg flex flex-col gap-4 p-4 rounded-sm 
    dark:shadow-black dark:bg-secondary__lighter opacity-0 pointer-events-none transition-opacity duration-200;
  }

  .profile__feature {
    @apply pr-8 py-2 pl-2 relative hover:bg-slate-100 rounded-md transition-colors duration-300
    dark:hover:bg-zinc-700;
  }

  .error__boundary {
    @apply border-red-800 focus:border-red-800 dark:border-red-800 dark:focus:border-red-800 focus:mb-2;
  }

  .skeleton {
    @apply rounded-sm shadow-sm p-4 size-full my-6 border-2 border-slate-100 dark:border-zinc-800;
  }

  .spinner {
    @apply border-[4px] border-bright__darker border-t-bright/90 absolute left-1/2 w-10 h-10 z-[99999];
  }

  .modal {
    @apply bg-white p-8 dark:bg-secondary__lighter dark:shadow-black rounded-md text-xs border-2 
    border-slate-100 dark:border-accent z-[99998] max-w-[70%];
  }

  .tooltip {
    @apply text-[10px] italic tracking-wide shadow-md p-2 py-1 rounded-md border-slate-200 border-[1px] 
    dark:border-accent dark:bg-secondary__lighter w-fit absolute z-50 
    opacity-0 pointer-events-none transition-opacity duration-200;
  }

  .form__control {
    @apply flex flex-col shadow-md p-8 rounded-md border-slate-200 border-2 
    dark:bg-secondary__lighter dark:border-accent dark:shadow-black pb-12;
  }

  .search__bar {
    @apply rounded-md p-[6px] pl-3 text-xs placeholder:italic placeholder:opacity-80 tracking-wider
    border-2 border-slate-200 shadow-sm outline-0 focus:ring-1 focus:ring-orange-600 dark:bg-secondary__lighter
    dark:border-zinc-700 md:px-12;
  }

  .nav__features {
    @apply bg-white shadow-md rounded-sm py-3 z-50 dark:bg-primary 
    dark:shadow-black flex flex-col gap-6 absolute top-[110%] 
    px-2 right-2 transition-all duration-300;
  }

  .nav__feature {
    @apply flex gap-4 justify-between font-medium tracking-wider italic
    bg-inherit hover:bg-slate-100 p-2 mx-1 rounded-sm dark:hover:bg-accent 
    transition-all duration-200;
  }

  .chat__input__options {
    @apply shadow-md p-2 rounded-md absolute flex -top-[200%] w-full gap-2 justify-center flex-wrap;
  }

  .nav__links {
    @apply order-4 w-full absolute top-full bg-white left-0 shadow-md z-10 px-5 lg:p-0 flex
    flex-col py-4 transition-all duration-300 font-medium  lg:relative lg:-order-1 lg:flex-row lg:shadow-none lg:w-auto 
  dark:bg-inherit lg:pointer-events-auto lg:text-[10px] gap-10 lg:gap-16 lg:mr-4 tracking-wider;
  }
}

/* Animations */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}

.dark .skeleton {
  background: linear-gradient(90deg, #222222 25%, #333333 50%, #222222 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}

.skeleton .circle {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.skeleton .line {
  height: 1em;
  border-radius: 2px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading__spinner linear 1.6s infinite;
  z-index: 99999;
}

.spinner__ball {
  animation: spinner__ball 10s linear infinite;
}

.alert::after {
  animation: alert 4s ease-in;
  transform-origin: left;
}

@keyframes alert {
  to {
    transform: scaleX(0);
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes scale__icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
    color: darkred;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading__spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 100%;
  }
}

.animate__scale {
  animation: scale__icon linear infinite 1.5s;
  margin-top: 1rem;
}

@keyframes slideInLeft {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes spinner__ball {
  from {
    transform: translateX(5px) translateY(5px);
  }
  to {
    transform: translate(0);
  }
}

.nav__links {
  animation: slideInLeft linear 300ms;
}
