@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    @apply h-full w-full max-w-full box-border;
  }

  #root {
    @apply h-full;
  }

  .dark {
    @apply bg-primary text-light;
  }

  .out {
    @apply outline-none;
  }

  .cp {
    @apply cursor-pointer;
  }

  button {
    outline: none;
  }

  .pers {
    perspective: 200px;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-[1440px] mx-auto;
  }

  .box {
    @apply p-2 rounded-md;
  }

  .box__wrapper {
    @apply max-w-[1200px] mx-auto;
  }

  .box__lg {
    @apply hidden md:block;
  }

  .modal {
    animation: scale 300ms ease-out;
  }

  .d__shadow {
    @apply shadow-black/15 dark:shadow-black/50;
  }

  .bx {
    @apply ring-2 ring-cyan-600;
  }
}

@layer components {
  /* Inputs */
  .input {
    @apply rounded-lg text-xs placeholder:text-xs tracking-widest out py-2 px-2 bg-inherit ring-2 ring-light-darker 
    dark:ring-secondary focus:ring-accent-lightest/50 focus:ring-2 w-full dark:focus:ring-accent-darker/75
    transition-colors duration-200 shadow-inner shadow-black/10 dark:shadow-black/75 focus:shadow-md focus:shadow-black/15 
    dark:focus:shadow-black/75 placeholder:italic placeholder:scale-90;
  }

  /* Interactives */
  .icon {
    @apply cp text-secondary-lighter dark:text-light-darkest dark:active:text-light transition-colors duration-200 
    w-[14px] h-[14px] scale-90 active:scale-100;
  }

  .icon__large {
    @apply w-[16px] h-[16px];
  }

  .icon__accent {
    @apply text-accent-darker hover:focus:text-accent;
  }

  .btn__icon {
    @apply bg-inherit flex justify-center items-center rounded-md ring-1 ring-light-darker p-1 
    dark:ring-secondary shadow-md d__shadow focus:ring-accent-darker focus:shadow-lg;
  }

  .btn {
    @apply rounded-lg out p-2 px-4 font-semibold text-xs italic tracking-widest shadow-black/20 
    focus:shadow-black/20 dark:focus:shadow-black/60 focus:shadow-md shadow-inner dark:shadow-black/40 active:shadow-black/15 ring-1 transition-shadow 
    duration-300 focus:ring-accent-darker/80;
  }

  .btn__primary {
    @apply dark:bg-primary dark:hover:bg-primary-lighter
    ring-light-darker dark:focus:bg-primary-lighter dark:ring-secondary-lighter/75 dark:focus:ring-accent-darker/80 
    focus:ring-accent-darker/80;
  }

  .btn__accent {
    @apply dark:bg-accent-lighter bg-accent-lighter text-white ring-accent dark:ring-1 
    ring-2 hover:bg-accent hover:ring-accent-darker
     focus:ring-accent-darker dark:focus:ring-accent-lighter/25 dark:focus:ring-4;
  }

  .btn__white {
    @apply bg-light-lightest ring-2 focus:ring-accent-lighter dark:focus:ring-accent-darker text-black ring-light-darker;
  }

  .label {
    @apply text-xs tracking-wider font-medium opacity-75 ml-[2px] italic;
  }
  .input__group {
    @apply flex flex-col gap-2 my-5;
  }

  .habit {
    @apply ring-[1px] p-3 md:p-2 ring-light-darker shadow-sm rounded-sm lg:rounded-md 
    dark:ring-secondary-lighter/60 dark:shadow-black/65 cp hover:bg-light-lighter 
    dark:hover:bg-primary-lighter transition-colors;
  }

  .habit__title {
    @apply text-sm tracking-wider leading-tight font-medium font-mono;
  }

  .option__icon__container {
    @apply text-xs font-medium tracking-wider flex rounded-md flex-col p-3 justify-center items-center gap-2 cursor-pointer;
  }

  .error__input {
    @apply p-1 px-2 text-red-700 italic dark:bg-inherit dark:text-red-400 tracking-wider 
    text-xs text-center leading-4;
  }

  .headings__large {
    @apply font-black tracking-wide text-2xl text-primary dark:text-light;
  }
  .form__link {
    @apply text-xs tracking-wider outline-none font-medium bg-zinc-700 text-white
    p-2 px-3 rounded-lg hover:ring-[1px] hover:ring-zinc-700 transition-colors duration-200 flex justify-center 
    mt-5 max-w-fit shadow-lg;
  }
  .error__component {
    @apply grid place-items-center text-xs tracking-wide font-semibold text-red-800 bg-blue-100 shadow-sm rounded-lg 
    p-2 ring-2 ring-2;
  }
  .navigation__link {
    @apply text-black font-bold bg-red-200 p-1 rounded-lg m-1;
  }
  .options {
    @apply text-xs gap-1  from-light to-zinc-700 text-white rounded-lg flex
    flex-col ring-[1px] ring-light  items-center overflow-hidden absolute -right-10 top-0;
  }
  .recommendation {
    @apply ring-[2px] ring-light m-2 shadow-lg dark:ring-zinc-700
    rounded-md p-4 text-xs dark:shadow-black italic font-medium max-w-[400px] tracking-wider;
  }
  .overlay {
    @apply fixed w-full h-full bg-black/55 left-0 inset-0 flex items-center justify-center z-[999];
  }

  .link {
    @apply outline-none focus:underline focus:font-semibold;
  }
}

@keyframes scale {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon__spin {
  animation: arrow__spin 1s infinite linear;
}

@keyframes arrow__spin {
  to {
    transform: rotate(1turn);
  }
}

.text__scale {
  animation: scale__text infinite 2s linear;
}

@keyframes scale__text {
  0%,
  100% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(0.95);
  }
}
