@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    @apply h-full w-full max-w-full box-border;
  }

  body {
    @apply h-full;
  }

  #root {
    @apply h-full;
  }

  .dark {
    @apply bg-primary text-light-darkest;
  }

  .out {
    @apply outline-none;
  }

  .cp {
    @apply cursor-pointer;
  }

  button {
    outline: none;
  }

  .pers {
    perspective: 200px;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full md:max-w-[calc(100vw-6rem)] mx-auto;
  }

  .box {
    @apply p-2 rounded-md;
  }

  .box__shadow {
    @apply shadow-black/10 dark:shadow-black/60 shadow-lg;
  }

  .box__wrapper {
    @apply max-w-[1200px] mx-auto;
  }

  .box__lg__screen {
    @apply hidden md:block;
  }

  .icon__bg__lg {
    @apply p-2;
  }

  .heading__md {
    @apply text-center text-xl;
  }
}

@layer components {
  /* Containers */
  .wrapper__full {
    @apply flex flex-col h-full;
  }

  .pad__box {
    @apply grow-[.25];
  }

  .mid__box {
    @apply rounded-xl shadow-black/10 shadow-md dark:shadow-black/50 ring-2 ring-light-darker/35
    dark:ring-secondary-lighter/50 w-full max-w-[380px] mx-auto grow h-full max-h-[480px];
  }

  .form__content__wrapper {
    @apply w-full max-w-[290px] mx-auto;
  }

  .link {
    @apply text-[10px] italic tracking-widest font-medium hover:bg-light dark:hover:bg-secondary-lighter p-1 rounded-md;
  }

  /* Inputs */

  .input {
    @apply rounded-lg text-xs placeholder:text-xs tracking-widest out py-2 px-2 bg-inherit ring-2 w-full transition-colors duration-200 shadow-inner shadow-black/10
    dark:ring-secondary focus:ring-accent-lightest/50 focus:ring-2  dark:focus:ring-accent-darker/75
    dark:shadow-black/75 focus:shadow-md focus:shadow-black/15 ring-light-darker 
    dark:focus:shadow-black/75 placeholder:italic placeholder:scale-90;
  }

  .input__box {
    @apply rounded-lg text-xs tracking-widest bg-inherit ring-2 ring-light-darker dark:ring-secondary
    transition-colors duration-200 shadow-inner shadow-black/10 dark:shadow-black/75;
  }

  .input__ring {
    @apply focus:ring-accent-lightest/50 focus:ring-2 dark:focus:ring-accent-darker/75
    transition-colors duration-200;
  }

  .input__group {
    @apply flex flex-col gap-2;
  }

  /* Interactives */
  .icon {
    @apply cp text-primary-darker dark:text-light-darkest dark:active:text-light transition-colors duration-200 
    w-[14px] h-[14px] scale-90 active:scale-100;
  }

  .icon__large {
    @apply w-[20px] h-[20px];
  }

  .icon__small {
    @apply w-[12px] h-[12px];
  }

  .icon__accent {
    @apply text-accent-darker hover:focus:text-accent;
  }

  .icon__bg {
    @apply bg-inherit flex justify-center items-center rounded-md ring-1 ring-light-darkest/40 p-1
    dark:ring-secondary-lighter/30 active:bg-light-lighter dark:active:bg-secondary-lighter/65
    active:shadow-inner focus:ring-light-darkest/75 
    focus:shadow-lg shadow-black/10
    shadow-md dark:shadow-black/75;
  }

  .btn {
    @apply rounded-lg out p-2 px-4 font-semibold text-xs italic tracking-widest shadow-black/20 
    focus:shadow-black/20 dark:focus:shadow-black/60 focus:shadow-md shadow-inner dark:shadow-black/40 active:shadow-black/15 ring-1 transition-shadow 
    duration-300 active:ring-accent-darker/80 active:scale-95 active:shadow-inner;
  }

  .btn__small {
    @apply p-1 px-[6px] text-[10px];
  }

  .btn__primary {
    @apply dark:bg-primary dark:hover:bg-primary-lighter
    ring-light-darker dark:focus:bg-primary-lighter dark:ring-secondary-lighter/75;
  }

  .btn__accent {
    @apply dark:bg-accent-lighter bg-accent-lighter text-white ring-accent dark:ring-1 
    ring-2 hover:bg-accent hover:ring-accent-darker
     focus:ring-accent-darker dark:focus:ring-accent-lighter/25 dark:focus:ring-4;
  }

  .btn__white {
    @apply bg-light-lightest ring-2 active:ring-accent-lighter dark:active:ring-accent-darker text-black ring-light-darker;
  }

  .label {
    @apply text-xs tracking-wider font-medium opacity-75 ml-[2px] italic;
  }

  .habit {
    @apply ring-1 p-2 ring-light-darker shadow-sm rounded-sm lg:rounded-md 
    dark:ring-secondary-lighter/60 dark:shadow-black/65 cp hover:bg-light-lighter 
    dark:hover:bg-primary-lighter transition-colors hover:shadow-black/75 md:min-w-[240px];
  }

  .habit__title {
    @apply text-sm tracking-wider leading-tight font-medium font-mono;
  }

  .option__icon__container {
    @apply text-xs font-medium tracking-wider flex rounded-md flex-col p-3 justify-center items-center gap-2 cursor-pointer;
  }

  .error__input {
    @apply text-xs italic text-red-700 dark:text-red-400 tracking-wider text-center;
  }

  .headings__large {
    @apply font-black tracking-wide text-2xl text-primary dark:text-light;
  }
  .form__link {
    @apply text-xs tracking-wider outline-none font-medium bg-zinc-700 text-white
    p-2 px-3 rounded-lg hover:ring-[1px] hover:ring-zinc-700 transition-colors duration-200 flex justify-center 
    mt-5 max-w-fit shadow-lg;
  }
  .error__component {
    @apply grid place-items-center text-xs tracking-wide font-semibold text-red-800 bg-blue-100 shadow-sm rounded-lg 
    p-2 ring-2;
  }
  .navigation__link {
    @apply text-black font-bold bg-red-200 p-1 rounded-lg m-1;
  }

  .recommendation {
    @apply ring-[2px] ring-light m-2 shadow-lg dark:ring-zinc-700
    rounded-md p-4 text-xs dark:shadow-black italic font-medium max-w-[400px] tracking-wider;
  }

  .link {
    @apply outline-none focus:underline focus:font-semibold;
  }
}
