@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
}

#root {
  height: 100%;
}

@layer base {
  .dark {
    @apply bg-secondary text-slate-200;
  }
  .cp {
    @apply cursor-pointer;
  }
  .transition__colors {
    @apply transition-colors;
  }
}

a {
  outline: none;
}

@layer utilities {
  /* Base Styles */
  .container {
    @apply max-w-sm md:max-w-xl;
  }

  .label {
    @apply text-xs tracking-wider font-medium opacity-75 ml-[2px] italic;
  }
  .input__group {
    @apply flex flex-col gap-3 my-5;
  }
  .input {
    @apply rounded-lg text-xs placeholder:text-xs tracking-wide
     pl-2 py-2 outline-none hidden lg:block font-mono px-24 transition__colors;
  }

  .input__teritiary {
    @apply bg-gray-100 py-[6px] pl-3 pr-7 rounded-md outline-none text-xs font-medium tracking-widest text-slate-800
    focus:shadow-sm focus:ring-1 focus:ring-bright/50 dark:bg-secondary__lighter 
    dark:shadow-md dark:focus:shadow-lg dark:focus:ring-sky-700/80 border-[1px] border-gray-300 dark:border-zinc-700;
  }

  .link__with__bg {
    @apply underline p-1 hover:bg-bright__lighter/60 rounded-md outline-0
    focus:bg-bright__lighter/60 transition-colors duration-200;
  }

  .input__secondary {
    @apply px-4 py-2 rounded-lg transition-colors tracking-wide text-xs bg-slate-100 focus:bg-slate-50 
    border-[1px] border-zinc-700  outline-none focus:shadow-lg
    dark:focus:bg-primary dark:focus:border-slate-400 dark:shadow-black
    dark:placeholder:opacity-70;
  }

  .input__add {
    @apply border-2 px-4 border-slate-200 dark:border-accent dark:shadow-black shadow-sm
     dark:bg-secondary__lighter outline-none transition-all duration-300 rounded-lg py-1 dark:placeholder:opacity-70
    italic placeholder:text-xs text-xs tracking-widest focus:border-bright dark:focus:border-bright;
  }

  .habit {
    @apply border-[1px] p-2 border-slate-300 shadow-sm rounded-sm dark:border-zinc-700 
    dark:shadow-black cp hover:bg-slate-100 dark:hover:bg-secondary__lighter transition-colors mt-1;
  }

  .habit__title {
    @apply text-sm tracking-wider leading-tight font-medium font-mono;
  }

  .icon {
    @apply cp text-sm dark:text-slate-300 dark:active:text-white lg:text-lg text-zinc-800;
  }
  .icon__with__bg {
    @apply bg-white shadow-lg p-1 rounded-lg dark:bg-zinc-800 text-xl dark:shadow-black
    border-[1px] border-slate-200 dark:border-zinc-700 dark:text-slate-200 focus:text-white;
  }
  .icon__with__bg__large {
    @apply bg-white shadow-lg p-1 rounded-lg dark:bg-zinc-800 text-2xl dark:shadow-black
    border-[1px] border-slate-200 dark:border-slate-800;
  }
  .option__icon__container {
    @apply text-xs font-medium tracking-wider flex rounded-md flex-col p-3 justify-center items-center gap-2 cursor-pointer;
  }

  .btn {
    @apply transition-all duration-200 rounded-lg p-2 focus:outline-none
    outline-none font-semibold tracking-wider italic text-xs;
  }

  .btn__white {
    @apply bg-white text-black shadow-xl ring-2 ring-slate-100 dark:focus:ring-bright;
  }

  .btn__primary {
    @apply bg-white shadow-lg dark:bg-secondary__lighter focus:border-2 focus:border-bright dark:shadow-black ring-1
     ring-slate-200 text-xs dark:ring-accent italic tracking-widest;
  }

  .btn__accent {
    @apply shadow-md duration-300 bg-bright text-xs text-black focus:bg-bright__lighter ring-1
     focus:ring-bright__darker focus:ring-2 italic ring-bright__darker tracking-wider font-bold;
  }

  .error__input {
    @apply p-1 px-2 text-red-700 italic dark:bg-inherit dark:text-red-400 tracking-wider 
    text-xs text-center leading-4;
  }

  .headings__large {
    @apply font-black tracking-wide text-2xl text-primary dark:text-slate-200;
  }
  .form__link {
    @apply text-xs tracking-wider outline-none font-medium bg-zinc-700 text-white
    p-2 px-3 rounded-lg hover:border-[1px] hover:border-zinc-700 transition-colors duration-200 flex justify-center 
    mt-5 max-w-fit shadow-lg;
  }
  .error__component {
    @apply grid place-items-center text-xs tracking-wide font-semibold text-red-800 bg-blue-100 shadow-sm rounded-lg 
    p-2 ring-2 border-2;
  }
  .navigation__link {
    @apply text-black font-bold bg-red-200 p-1 rounded-lg m-1;
  }
  .options {
    @apply text-xs gap-1  from-slate-600 to-zinc-700 text-white rounded-lg flex
    flex-col ring-[1px] ring-slate-600  items-center overflow-hidden absolute -right-10 top-0;
  }
  .recommendation {
    @apply border-[2px] border-slate-200 m-2 shadow-lg dark:border-zinc-700
    rounded-md p-4 text-xs dark:shadow-black italic font-medium max-w-[400px] tracking-wider;
  }
  .overlay {
    @apply fixed w-full h-full bg-black/50 left-0 inset-0 flex items-center justify-center z-[999];
  }

  .link {
    @apply outline-none focus:underline focus:font-semibold;
  }

  /* Animations */
  .animate__arrow__spin {
    animation: arrow__spin infinite ease-out 1s;
  }
}

.modal {
  animation: scale 275ms ease-out;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.icon__spin {
  animation: arrow__spin 1s infinite linear;
}

@keyframes arrow__spin {
  to {
    transform: rotate(1turn);
  }
}

.text__scale {
  animation: scale__text infinite 2s linear;
}

@keyframes scale__text {
  0%,
  100% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(0.95);
  }
}
