@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: 0;
  text-align: initial;
  max-width: initial;
}

@layer base {
  .cp {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .btn {
    @apply transition-all duration-200 text-gray-100 hover:text-white rounded-lg p-2 
    outline-none font-semibold tracking-wider mt-5 focus:ring-[2px];
  }
  .btn__primary {
    @apply bg-color__primary focus:ring-offset-blue-600 focus:bg-color__secondary;
  }
  .btn__secondary {
    @apply bg-color__shadow;
  }
  .btn__accent {
    @apply bg-color__accent focus:hover:bg-color__accent__2 ring-color__accent__2 ring-2;
  }
  .btn__indigo {
    @apply bg-indigo-600 from-indigo-700 to-indigo-900;
  }
  .tooltip {
    @apply bg-slate-800 text-white text-[7px] font-bold tracking-wide absolute p-[2px] 
    -top-7 -right-8 rounded-sm;
  }
  .tooltip__container {
    @apply relative;
  }
  .headings__large {
    @apply font-black tracking-wide text-2xl text-color__primary;
  }
  .form__link {
    @apply text-xs focus:text-sm mt-3 tracking-wide text-color__accent w-full flex 
    justify-center outline-none focus:text-color__accent__2 focus:font-semibold;
  }
  .nav__btn__icon {
    @apply bg-white p-[3px] rounded-md shadow-lg transition-colors;
  }
  .error__component {
    @apply grid place-items-center text-xs tracking-wide font-semibold text-red-800 bg-blue-100 shadow-sm rounded-md 
    p-2 ring-2 border-2;
  }
  .navigation__link {
    @apply text-black font-bold bg-red-200 p-1 rounded-md m-1;
  }
}

.spinner {
  @apply w-10 h-10 border-4 border-cyan-800 rounded-[50%] animate-[spinner] duration-1000 flex items-center justify-center m-auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
