@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: 0;
  text-align: initial;
  max-width: initial;
}

@layer base {
  .cp {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .btn {
    @apply transition-all duration-200 text-gray-100 hover:text-white rounded-md py-2 px-4 outline-none font-semibold tracking-wide min-w-full mt-3;
  }
  .btn__primary {
    @apply bg-color__primary ring-color__third;
  }
  .btn__secondary {
    @apply bg-color__shadow ring-color__third;
  }
  .btn__accent {
    @apply bg-color__accent ring-color__accent__2;
  }
  .tooltip {
    @apply bg-slate-800 text-white text-[7px] font-bold tracking-wide absolute p-[2px] -top-7 -right-8 rounded-sm;
  }
  .tooltip__container {
    @apply relative;
  }
}
